*{
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav{
    background-color: white;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.1);
}
nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.nav-menu li{
    height: 50px;
}
.nav-menu a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}
.nav-menu a:hover{
    background-color: #f0f0f0;
}
.rightItem{
    margin-left: auto;
}
.menu-toggle {
    display: none;
}
@media(max-width: 1200px){
    .menu-icon {
        display: block;
    }
    nav{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 10px 20px;
    }
    .nav-menu {
        position: fixed;
        display: none;
        top: 0;
        right: 0;
        height: 100vh;
        width: 250px;
        z-index: 999;
        background-color: rgba(255,255,255,0.2);
        backdrop-filter: blur(10px);
        box-shadow: -10px 0 10px rgba(0,0,0,0.1);
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
    .nav-menu li, .nav-menu a{
        width: 100%;
    }
    .nav-menu.open {
        display: flex;
    }
    .close-icon {
        display: block;
    }
    #website-icon{
        display: inline;
    }
}
@media(max-width: 400px){
    .nav-menu{
        width: 100%;
    }
}